 *{
	 margin: 0;
	 padding: 0;
 }
 .header{
	 min-height: 100vh;
	 width: 100%;
	 background-image: url(images/banner.jpg);
	 background-position: center;
	 background-size: cover;
	 position: relative;
 }
 .title {font-size: 60px;
		color:green;
		text-align:left;		
 }
 nav{
	 display: flex;
	 padding: 2% 6%;
	 justify-content: spac-between;
	 align-items: center;
 }
 nav img{
	 width: 60px;
 }
 
 .nav-links{
	 flex: 1;
	 text-align: left;
 }
 .nav-links ul li{
	 list-style: none;
	 display: inline-block;
	 padding: 14px 16px;
	 position: relative;
 }
 
 .nav-links ul li a {
	 color: Orange;
	 text-decoration: none;
	 font-size: 20px;
 }

 .nav-links ul li::after {
	 content: '';
	 width: 0%;
	 height: 2px;
	 background: #f44336;
	 display:block;
	 margin: auto;
	 transition: 0.5s;
 }
 .nav-links ul li:hover::after{
	 width: 100%;
 }
 .text-box{
	 width: 90%;
	 color: black;
	 position: absolute;
	 top: 30%;
	 left: 50%;
	 transform: translate(-50%,-50%);
	 text-align: center;
 }
 .text-box h2{
	 font-size: 40px;
 }
 .text-box p{
	 margin: 10px 0 50px;
	 font-size: 20px;
	 color: black;
 }
 
 .hero-btn{
	 display: inline-block;
	 text-decoration: none;
	 color: black;
	 border: 2px solid black;
	 padding: 10px 8px;
	 font-size: 16px;
	 background: transparent;
	 position: relative;
	 cursor: pointer;
 }
 .hero-btn:hover{
	 border: 2px solid #f44336;
	 background: #f44336;
	 transition: 1s;
	 
 }
 .course{
	 width: 80%;
	 margin: auto;
	 text-align: center;
	 padding-top: 100px;
 }
 h1{
	 font-size: 30px;
	 font-weight: 600;
 }
 
 p{
	 color: black;
	 font-size: 14px;
	 font-weight: 300;
	 line-height: 22px;
	 padding: 10px;
 }
 .row{
	 margin-top: 5%;
	 Display: flex;
	 justify-content: space-between; 
 }
 .course-col{
	 flex-basis: 30%;
	 background: #fff3f3;
	 border-radius: 10px;
	 margin-bottom: 5%;
	 margin-bottom: 5%;
	 padding: 20px 12px;
	 box-sizing: border-box;
	 transition: 0.5s;
	
 }
 h3{
	 text-align: center;
	 font-weight: 600%;
	 margin: 10px 0;
 }
 .course-col:hover{
	 box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
 }
 
 /*------- campus --------*/
 
 .campus{
	 width: 80%;
	 margin: auto;
	 text-align: center;
	 padding-top: 50px;
 }
 
 .campus-col{
	 flex-basis: 32%;
	 border-radius: 10px;
	 margin-bottom: 30px;
	 position: relative;
	 overflow: hidden;
 }
 .campus-col img{
	 width: 100%;
	 display: block;
 }
 .layer{
	 background: transparent;
	 height: 100%;
	 width: 100%;
	 position: absolute;
	 top: 0; 
	 left: 0;
	 transition: 0.5s;
 }
 .layer:hover{
	 background: rgba(226,0,0,0.7);
 }
 .layer h3{
	 width: 100%;
	 font-weight: 500;
	 color: #fff;
	 font-size: 26px;
	 bottom: 0;
	 left: 50%;
	 transform: translateX(-50%);
	 position: absolute;
	 opacity: 0;transition: 0.5s;
 }
 .layer:hover h3{
	 bottom: 49%;
	 opacity: 1;
 }
 
 /*--------facilities------*/
 
 .facilities{
	 width: 80%;
	 margin: auto;
	 text-align: center;
	 padding-top: 100px;
 }
.facilities-col{
	 flex-basis: 31%;
	 border-radius: 10px;
	 margin-bottom: 5%;
	 text-align: left;
 }
 .facilities-col img{
	 width: 100%;
	 border-radius: 10px; 
 }
 
 
 /*-------testimonial------*/
 
 .testimonials{
	 width: 80%;
	 margin: auto;
	 padding-top: 100px;
	 text-align: center;
 }
 .testimonial-col{
	 flex-basis: 44%;
	 border-radius: 10px;
	 margin-bottom: 5%;
	 text-align: left;
	 background: #fff3f3;
	 padding: 25px;
	 cursor: pointer;
	 display: flex;
 }
 .testimonial-col img{
	 height: 40px;
	 margin-left: 5px;
	 margin-right: 30px;
	 border-radius: 50%;
 }
 .testimonial-col p{
	 padding: 0;
 }
 .testimonial-col h3{
	 margin-top: 15px;
	 text-align: left;
	 
 }
 
/*---------- call to action --------*/

.cta{
	margin: 100px auto;
	width: 80%;
	background-image: url(images/banner2.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
}
.cta h1{
	color: #fff;
	margin-bottom: 40px;
	padding: 0;
}
.hero-btn{
	color: white;
}

/*---------Footer--------*/

.footer{
	width: 100%;
	text-align: center;
	padding: 30px;
}

.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}


/*----------- Our work Page --------*/

.sub-header{
	height: 50vh;
	width: 100%;
	background-image: url(images/background.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: orange;
}

.comment-box{
	border: 1px solid #ccc;
	margin: 50px 0;
	padding: 10px 20px;
}
.comment-box h3{
	text-align: left;
}
.comment-form input, .comment-form textarea{
	width: 100%;
	padding: 10px;
	margin: 15px 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	background: #f0f0f0;
}
.comment-form button{
	margin: 10px o;
	color: black;
}
/*------------contact us page---------*/

.location{
	width: 80%;
	margin: auto;
	padding: 80px 0;
}
.location iframe{
	width: 100%;
}
.contact-us{
	width: 80%;
	margin: auto;
}
.contact-col{
	flex-basis: 48%;
	margin-bottom: 30px;
}
.contact-col div{
	display: flex;
	align-items:center;
	margin-bottom: 40px;
}
.contact-col input, .contact-col textarea{
	width: 100%;
	padding: 15px;
	margin-bottom: 17px;
	outline: none;
	border: 1px solid #ccc;
}

.comment-form button{
	margin: 10px o;
	color: black;
}
.copyright{
	text-align: center;
	color: orange;
	padding-bottom: 15px;
}
.job-application{
	padding-left: 100px;
	background-image: url(images/bg.jpg);
}

.icon{
	float: center; /* Float links side by side */
  text-align: center; /* Center-align text */
  padding-bottom: 15px;
}

.icon-bar a {
  float: center; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 15%; /* Equal width (5 icons with 20% width each = 100%) */
  padding-left: 50px;
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: gray; 
  font-size: 20px; /* Increased font size */
}
.checked {
  color: orange;
}

 .course-col2{
	 flex-basis: 15%;
	 background: orange;
	 border-radius: 10px;
	 margin-bottom: 5%;
	 margin-bottom: 5%;
	 padding: 20px 12px;
	 box-sizing: border-box;
	 transition: 0.5s;
	
 }
 .course-col2:hover{
	 box-shadow:  0 0 20px 0px rgba(0,0,0,0.2);
	 color: white;
 }